/* Center the logo */
.logo-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensure the component takes the full viewport height */
  }

  /* Have a fade in from the top animation for the welcome message& logo */
  /*  Initial transformation (will be moved 50px upward) */
  .welcome-message {
    text-align: center;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInUp 0.5s ease-in-out 0.5s forwards;
  }
  /* Move it back to the original position */
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }